.event-banner {
    position: relative;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
}

.event-banner img {
  height: 100%;
}

.event-call-to-act {
    position: absolute;
    left: 3rem;
    top: 5rem;
}

@media screen and (min-width: 917px) {
  .event-banner img {
    height: auto;
    width: 100vw;
  }
}
